#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label, #contactForm input, #contactForm button, #contactForm select {
    margin: 5px;
}

#contactForm button {
    margin-top: 10px;
}